{% style %}
  button.custom-product-add-to-cart {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 9px 16px;
    background:#C41E3A;
    color: #fff;
    border: none;
    cursor: pointer;
}
{% endstyle %}
<atc-button>
{% form 'product',product %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <input type="hidden" name="quantity" value="1">
            <button class="custom-product-add-to-cart"
              type="submit"
              {% unless product.selected_or_first_available_variant.available %}
                disabled
              {% endunless %}
            >
              {% if product.selected_or_first_available_variant.available %}
                Add to Cart
              {% else %}
                Sold Out
              {% endif %}
            </button>
{% endform %}
</atc-button>