{% form 'product' %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <input type="hidden" name="quantity" value="1">
            <button class="custom-product-add-to-cart"
              type="submit"
              {% unless product.selected_or_first_available_variant.available %}
                disabled
              {% endunless %}
            >
              {% if product.selected_or_first_available_variant.available %}
                Add to Cart
              {% else %}
                Sold Out
              {% endif %}
            </button>
{% endform %}